figure {
    padding: 0;
    margin: 0;
    width: 33%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-items: space-between;
}

.img {
    width: 80%;
    aspect-ratio: 1.5;
}

figcaption {
    width: 100%;
    display: grid;
    grid-template:
    "h3"1fr
    "p"0.5fr
    "h4"1fr
    "h5"0.5fr;

}

@media (max-width: 568px) {
    figure {
        padding: 0 0 0 8vw;
        width: 99%;
    }
    figcaption {
        width: 90%;
    }
}