.card {
    width: 49%;
    height: 70vh;
    background-color: #797a7a;
    /* border: 1px solid #f0f; */
}

h1 {
    font-size: 2.5em;
    width: 70%;
    border-bottom: 2px solid #f00;
    background-color: #ff5656;
}
figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img {
    width: 40%;
    max-height: 30vh;
}

figcaption {
    border: 1px solid #f0f;
    width: 90%;
    position: relative;
}